h1{
    text-align:center;
    color:gold;
    background-color:steelblue;
}

h2{
    color:aliceblue;
}

body{
    background-color:black;
}

.class{
    color:aliceblue;
}
li{
    color: aliceblue;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
}

img{
    width: 150px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

div{
    border-radius: 12px;
    padding: 5px;

    padding-left:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-top:5px;
    

}

#bulbasaur_container{
    background-color:lightgreen;
}

#charmander_container{
    background-color:coral;
}

#squirtle_container{
    background-color:cadetblue;
    margin-bottom: 150px;
}

footer{
    margin-left:15px;
    color:aliceblue;
}